.container{
    height: 300px;
    width: 300px;
    background-color:#0065b3;
}
.a{
    background-color:#fef200;
    width: 100px;
    height: 300px;
    position: absolute;
    top: 8px;
    left: 100px;


}
.b{
    background-color:#ff0000;
    width: 120px;
    height: 300px;
    position: absolute;
    top: 8px;
    left: 200px;
}
